
.stElementContainer {
    background-color: transparent !important;   
    width: 100%;
      
    border-radius: 15px !important;
          
}    



/*o imt*/
.st-by{
    color: #1e1e1f !important;
    font-size: 18px !important;
    font-weight : bold !important;    
    border-radius: 15px !important;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2) !important;
    background-color: white !important;
} 



.custom-scroll-container {
    background-color: transparent !important;
    
    border-radius: 10px !important;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1)    !important;
    height: 100%   !important; /* Altura fixa */
    overflow-y: auto !important; /* Scroll vertical */
    overflow-x: hidden !important; /* Evita scroll horizontal */
}


/*botão pesquisar*/


.stHorizontalBlock {
    background-color:  rgb(175, 190, 196) !important;
    /* color: white !important; */
    width: 100% !important; 
    border-radius: 15px !important; 
    /* font-weight: lighter !important; */
    color: black !important;
    padding: 10px 0px 0px 20px !important;
    /* border:  1px solid rgb(199, 31, 31); */
   margin-top: -60px !important;
   
}

/* div.stColumn:nth-of-type(1) button {
    
    color: white !important;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    text-align: justify;
    border:  1px solid black;
} */


button[data-testid="stBaseButton-secondary"] {
    background-color: transparent !important;
    color: rgb(7, 7, 7) !important;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    text-align: justify;   
}


/*botão pesquisar stilo*/
.stColumn:nth-of-type(1) button[data-testid="stBaseButton-primary"] {
    background-color: #080808 !important;
    border: 2px solid #52ff6f !important;
    color: rgb(250, 249, 249) !important;
    border-radius: 8px !important;   
    width: 60% !important;
}

/*botão salvar e novo formquill*/

div.stColumn:nth-of-type(1) button[data-testid="stBaseButton-secondary"]  {
    background-color: transparent !important;
    color: rgb(12, 12, 12) !important;
    width: 100%;
    border-radius: 15px;
    font-weight: bold;
    margin: 1px !important;
    
}
.stHorizontalBlock div.stColumn:nth-of-type(2) button {
    background-color: #1b1b1b !important;
    color: white !important;
    width: 70%;
    border-radius: 15px;
    font-weight: bold;
    
    margin: 50px 20px 20px 20px !important;  ;
    border:  1px solid black;
    
}
/*botão excluir formquill*/
div.stColumn:nth-of-type(3) button {
    background-color: #161616 !important;
    color: white !important;
    width: 70%;
    border-radius: 15px;
    font-weight: bold;
   
    border:  1px solid black;
}
/*botão exporta docs formquill*/
div.stColumn:nth-of-type(4) button {
    background-color: #0f0f0f !important;
    color: white !important;
    width: 70%;
    border-radius: 15px;
    font-weight: bold;
   
    border:  1px solid black;
}
