
.st-key-confirm_yes button{

    background-color: rgb(17, 17, 17) !important;
    color: white !important;
    width: 150px !important; 
    margin: 15%;    
}
.st-key-confirm_yes button:hover{
    
    box-shadow: 0 0 10px rgb(187, 64, 64);
    background-color: rgb(139, 11, 11) !important;
    font-weight: bold !important;
    width: 150px !important;     
}

.st-key-confirm_no button{

    background-color: rgb(17, 17, 17) !important;
    color: white !important;
    width: 150px !important; 
    margin: 15%; 

}

.st-key-confirm_no button:hover{
    box-shadow: 0 0 10px rgb(187, 64, 64);
    background-color: rgb(139, 11, 11) !important;
    font-weight: bold !important;
    width: 150px !important;   

}

.st-key-search button {  

    background-color: rgb(211, 31, 31) !important;
    color: white !important;
    width: 150px !important;
}

.stDialog .st-fo{

    align-self: center;
    font-weight: bold !important;
}

.stDialog .st-ff { /*título da mensagem*/

    background-color: rgb(27, 2, 73) !important;
    color: white !important;
    align-content: center;

    
}

.stForm button{

    background-color: rgb(17, 16, 16) !important;
    color: white !important;
    width: 150px !important;
    margin-top: 10px;
    margin-left: 20%;    
}

.stForm button:hover{
    box-shadow: 0 0 10px rgb(187, 64, 64);
    background-color: rgb(139, 11, 11) !important;
    font-weight: bold !important;
    width: 150px !important;     

}

.form_submit_button {/*engloba o checkbox também*/
   
    color: white !important;
    width: 150px;
   
    font-weight: bold;    
    border: none;
    position: absolute !important; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important; 
    margin-top: 20px;
    width: 150px !important;

}

.st-emotion-cache-1vxvi18.e1obcldf2 p {
    
    color: rgb(226, 225, 230);    
    font-size: smaller;
    width: 300px;
}



.st-emotion-cache-1dho8c7.enj44ev3{
    background-color: #273346 !important;   
    border: none !important; 
    color:white  !important;
        
}

.st-emotion-cache-z22cl0.enj44ev1 :hover {
    
    color:white  !important; 
}

.e1jram340 {
    font-size: 3px !important;  
    font-weight: bold !important;
}

.st-emotion-cache-1vxvi18.e1obcldf2 {/*resultado da pesquisa*/
    /* Seus estilos aqui */
    background: none !important;
    border: none !important;
    color: inherit !important; 
    text-align: left !important;
    width: 330px !important; 
   
   
    /* Adicione outros estilos que desejar */
}

/* Para remover o efeito hover */
.st-emotion-cache-1vxvi18.e1obcldf2:hover { /*resultado da pesquisa*/
    /* background: none !important; */
    background-color: rgb(32, 31, 31) !important; 
    width: 330px !important; 
    
    border: none !important;
    color: rgb(195, 198, 204) !important;  
    
    /* outros estilos que queira manter fixos no hover */
}
/*   
.stDialog button {   
   
    font-weight: bold !important; 
  
} */

button[aria-label="Close"] {
    /*display: none !important; */
    color: rgb(226, 225, 230);   
    
} 

/* div[aria-label="dialog"] {
    height: 140px!important;
    width: 360px!important;
    
} */
/* 
.st-fc {
    height: 140px!important;
    width: 360px!important;
    
    background-color: #e91212 !important; 
} */
/* 

.st-f9 {

    height: 70px;
    width: 360px;  
     
    background-color: #050505 !important; 
} */

/*   container */ 
iframe[data-testid="stCustomComponentV1"] {   
    /* min-width: 100%; 
    min-height: 100%; */
    /* height: 900px;    */
    padding: 0% 0% 0% 0%;  
    background-color: #f0f8ff !important; 
} 

.stTextInput input {
    
    width: 100% !important;  
    background-color: #f0f8ff !important;


}

.stTextInput p {    
    font-size: larger;

}
/*     
#text_input_1 {
    background-color: #f0f8ff !important;
    border: 1.5px solid #060f06!important;
    border-radius: 8px;    
    color: black;
    font-size: 16px;
    padding: 10px;
}

#text_input_2 {
    
    background-color: #f0f8ff !important;
    border: 1.5px solid #060f06!important;
    border-radius: 8px;
    
    color: black;
    font-size: 16px;
    padding: 10px;
} */
/* 
#text_input_3 {
   
    background-color: #f0f8ff !important;
    border: 1.5px solid #060f06 !important;    
    border-radius: 8px;
    color: black;
    font-size: 16px;
    padding: 10px;
} */

.stForm {
   
    border: none; /*2px solid black;*/
    width: 1200px;
    height: 500px;
   
}

[data-testid="stVerticalBlockBorderWrapper"] {/*quill*/

    border: none;    
    padding: 0%  
    
} 

